/* Universal Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/images/image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.clg-name{
    display: flex;
    justify-content:space-between;
    width: 100%;
    color: black;
    /* background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); */
    align-items: center;
    padding: 0 50px;
    position: absolute;
    top: 0;
    gap: 1em;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-img{
    display: block;
    height: 5em;
    border-radius: 10%;
}

.clg{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clg h2{
    font-weight: bold;
    margin: 0;
}

.container {
    max-width: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 50px 100px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.welcome{
    max-width: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 50px 100px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-group{
    margin-bottom: 15px;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
}

h2 {
    margin-bottom: 20px;
}

.form-group input{
    width: 100%;
    padding: 8px;
    border: 1px solid lightblue;
    border-radius: 4px;
}

.alert{
    position: absolute;
    top: 72.5%;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 9999;
    color: red;
    
}

button{
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background:#1976d2;
    color: white;
    
}

button:hover{
    background: #03a9f4;
}

.buttons {
    margin-top: 30px;
}

.buttons a {
    text-decoration: none;
    color: #fff;
    background: #2196f3;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background 0.3s;
}

.buttons a:hover {
    background: #1976d2;
}

.glass-effect {
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border-radius: 10px; /* Smooth rounded corners */
    padding: 20px; /* Space inside */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
}
